<p id="notice"><%= notice %></p>

<p>
  <strong>Banned:</strong>
  <%= @comment.banned %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Commenter:</strong>
  <%= @comment.commenter %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @comment.rate %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
