<div class="jumbotron">
  <h1>ROR</h1>
  <p class="lead">Ruby on Rails Geliştiricilerinin Blog Adresi.</p> <p>Deve Notasyon Falan Filan</p>
  <p> <%= link_to "Yazı Ekleyin!", new_post_path, :class => "btn btn-lg btn-success" %> </p>
</div>

<div class="row marketing">
  <div class="col-lg-6">

    <% @posts.take(3).each do |f| %>

            <h4>  <%= f.title %>    </h4>
            <p>   <%= f.body %>    </p>

    <% end %>
  </div>
  <div class="col-lg-6">

    <% @posts.reverse.take(3).each do |f| %>

        <h4>  <%= f.title %>    </h4>
        <p>   <%= f.body %>    </p>

    <% end %>
  </div>


</div>



